<section class="b-table js-table">

	{{!-- {{#each elements}}
		<a class="el-link" href="{{link}}" data-pos-x={{position-x}}  data-pos-y={{position-y}}>
			<div class="element-wrapper is-{{name}}">
				<h4 class="el-name">{{name}}</h4>
				<span class="el-version {{class}}">{{version}}</span>
			</div>
		</a>
	{{/each}} --}}

</section>